<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Percentage Calculator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		.container {
			border:1px solid #aaa;
			width: 75%;
			margin-top:30px;
			padding: 20px;
			border-radius: 10px;
			font-size: 1.5em;
		}
	</style>
</head>
<body>

	<div class="container">

		<section>
			<form id="f1" action="#" class="form-inline form-group" ng-controller="f1Controller" ng-submit="calculateF1()">
				<fieldset class="row">
					<div class="col-sm-7">
						<p>What is <input class="form-control" id="f1-a" type="text" size="3" ng-model="f1a">% of <input class="form-control" id="f1-b" type="text" size="7" ng-model="f1b">?</p>
					</div>
					<div class="col-sm-5">
						<button id="f1-calculate" class="btn btn-primary">Calculate</button>
						<!-- result = a / 100 * b; -->
						<input class="form-control" id="f1-result" type="text" size="7" readonly="readonly" ng-model="f1Result">
						<span class="remove">%</span>
					</div>
				</fieldset>
				<div class="alert alert-danger" role="alert" ng-show="showError"><i class="glyphicon glyphicon-remove"></i> {{showError}}</div>
			</form>


			<form id="f2" action="#" class="form-inline form-group" ng-controller="f2Controller" ng-submit="calculateF2()">
				<fieldset class="row">
					<div class="col-sm-7">
						<p><input class="form-control" id="f2-a" type="text" size="5" ng-model="f2a"> is what percent of <input class="form-control" id="f2-b" type="text" size="5" ng-model="f2b">?</p>
					</div>
					<div class="col-sm-5">
						<button id="f2-calculate" class="btn btn-primary">Calculate</button>
						<!-- result = a / b * 100; -->
						<input class="form-control" id="f2-result" type="text" size="7" readonly="readonly" ng-model="f2Result">
						<span>%</span>
					</div>
				</fieldset>
				<div class="alert alert-danger" role="alert" ng-show="showError"><i class="glyphicon glyphicon-remove"></i> {{showError}}</div>
			</form>

			<form id="f3" action="#" class="form-inline form-group" ng-controller="f3Controller" ng-submit="calculateF3()">
				<fieldset class="row">
					<div class="col-sm-7">
						<p>What is the percentage increase/decrease<br>from <input class="form-control" id="f3-a" type="text" size="6" ng-model="f3a"> to <input class="form-control" id="f3-b" type="text" size="6" ng-model="f3b">?</p>
					</div>
					<div class="col-sm-5">
						<button id="f3-calculate" class="btn btn-primary">Calculate</button>
						<!-- result = (b - a) / a  * 100; -->
						<input class="form-control" id="f3-result" type="text" size="7" readonly="readonly" ng-model="f3Result">
						<span>%</span>
					</div>
				</fieldset>
				<div class="alert alert-danger" role="alert" ng-show="showError"><i class="glyphicon glyphicon-remove"></i> {{showError}}</div>
			</form>

			<p id="tips"><strong>Tips:</strong> Use tab to move to the next field. Use shift-tab to move to the previous field. Press enter to calculate.</p>
		</section>

	</div>

<!-- 	<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script>
		var errorHTML='<div class="alert alert-danger" role="alert"><i class="glyphicon glyphicon-remove"></i> ERROR. NaN detected.</div>'
		$('#f1-calculate').on('click',function(event){
			event.preventDefault();
			
			var a=+$('#f1-a').val();
			var b=+$('#f1-b').val();
			if (a==0) { $('#f1-a').val(0) }
			if (b==0) { $('#f1-b').val(0) }

			$('#f1 .alert').remove();	
			$('#f1').removeClass('has-error');
			if (isNaN(a) || isNaN(b)) {							
				$('#f1 span').after(errorHTML);
				$('#f1').addClass('has-error');
			} else {				
				$('#f1-result').val( a / 100 * b);	
			}
				
			
		});		

		$('#f2-calculate').on('click',function(event){
			event.preventDefault();
			
			var a=+$('#f2-a').val();
			var b=+$('#f2-b').val();
			if (a==0) { $('#f2-a').val(0) }
			if (b==0) { $('#f2-b').val(0) }

			$('.alert').remove();	
			$('#f2').removeClass('has-error');	
			if (isNaN(a) || isNaN(b)) {
				$('#f2 span').after(errorHTML);
				$('#f2').addClass('has-error');
			} else {				
				$('#f2-result').val( a / b * 100);
			}
		});

		$('#f3-calculate').on('click',function(event){
			event.preventDefault();
				
			var a=+$('#f3-a').val();
			var b=+$('#f3-b').val();
			if (a==0) { $('#f3-a').val(0) }
			if (b==0) { $('#f3-b').val(0) }

			$('.alert').remove();
			$('#f3').removeClass('has-error');
			if (isNaN(a) || isNaN(b)) {
				$('#f3 span').after(errorHTML);
				$('#f3').addClass('has-error');
			} else {
				$('#f3-result').val( (b - a) / a  * 100);
			}
			
		});

	</script> -->
	<script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js "></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
</body>
</html>
