extends layout

block content
  p Hello #{ user }
  p freemasonry subacid pothole baseliner permissory Zaporogue sublinguae resolutory morris shored misemphasize abridger Gigartinales unimbanked hyperacid metarossite swingstock resigner Kukuruku Valsa generalness Amperian bacterian derogation