extends layout

block content
  .jumbotron
    .container
      h1 Hello, world!
      p= message
      p
        | unliteralness tryptophan gamebag radiogenic antislavery altruistically
        span suppression subchorioidal
        |  areasoner apace crawling misbode
        strong compositorial zacate washhand
        |  inquietude decarburization exalted euphuistic legitimatist carter hemiope degum transsubjective
      p
        a.btn.btn-primary.btn-lg Learn more